* {
    box-sizing: border-box;
}

h1 { color: #e0fbfc; font-family: 'Lato', sans-serif; font-weight: bold; }
h2 { color: #e0fbfc; font-family: 'Lato', sans-serif; font-weight: bold}
p { color: #293241; font-family: 'Lucida Sans', Arial, sans-serif; font-weight: bold; }

/*--------------------- Navbar /*--------------------- */

.navbar {
    background-color: #293241;
    box-shadow: 0px 0px 10px 0px #293241;
}

.navbar a {
    color: #e0fbfc;
}

.navbar-brand {
    margin-left: 2%;
}

.navbar a:hover {
    color:  #ee6c4d;
}

.navbar-nav {
    text-align: right;
}

/* Hamburger Menu */
.navbar-toggler-icon {
    color: #e0fbfc;
}

/*--------------------- Jumbotron / About Me ---------------------*/

.container > h1, h2, p {
    margin-left: 11%;
}

.jumbotron-fluid {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 60vh;
    background-image: linear-gradient(to right, #466894, #547db3, #6291cf);
    color: #e0fbfc;
    box-shadow: 0px 0px 10px 0px #293241;
}

.photo {
    margin-right: 2.5%;
    border: 2px solid black;
}

/*--------------------- Projects ---------------------*/

.project-container {
    display: flex;
    width: 100vw;
    height: 30vh;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    background-color: #ee6c4d;

    border: 2px solid black
}

.project-tile {
    border: 1px solid black;
    box-shadow: 0px 10px 10px 0px #293241;

}



/*--------------------- Contact ---------------------*/


/*--------------------- Footer ---------------------*/