* {
    box-sizing: border-box;
}

h1 { color: #e0fbfc; font-family: 'Lato', sans-serif; font-weight: bold; }
h2 { color: #e0fbfc; font-family: 'Lato', sans-serif; font-weight: bold}
p { color: #293241; font-family: 'Lucida Sans', Arial, sans-serif; font-weight: bold; }

/*--------------------- Navbar /*--------------------- */

.navbar {
    background-color: #293241;
}

.navbar a {
    color: #e0fbfc;
}

.navbar-brand {
    margin-left: 2%;
}

.navbar a:hover {
    color:  #ee6c4d;
}

.navbar-nav {
    text-align: right;
}

/* Hamburger Menu */
.navbar-toggler-icon {
    color: #e0fbfc;
}

/*--------------------- Jumbotron / About Me ---------------------*/

.jumbotron-fluid {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 60vh;
    background-image: linear-gradient(to right, #466894, #547db3, #6291cf);
    color: #e0fbfc;

}

/*--------------------- Projects ---------------------*/

/*--------------------- Contact ---------------------*/


/*--------------------- Footer ---------------------*/